<div data-hook="admin_hero_image_form_fields" class="row">
  <div class="col-md-6">
    <div data-hook="file" class="form-group">
      <%= f.label :attachment, Spree.t(:filename) %>
      <%= f.file_field :attachment %>
    </div>
    <div data-hook="caption" class="form-group">
      <%= f.label :caption, HeroImage.human_attribute_name(:caption) %>
      <%= f.text_field :caption, { class: 'form-control' } %>
    </div>
    <div data-hook="caption_url" class="form-group">
      <%= f.label :caption_url, HeroImage.human_attribute_name(:caption_url) %>
      <%= f.text_field :caption_url, { class: 'form-control' } %>
    </div>
  </div>
  <div data-hook="alt_text" class="col-md-6">
    <div data-hook="caption_url" class="form-group">
      <%= f.label :active, HeroImage.human_attribute_name(:active) %>
      <%= f.check_box :active, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.label :alt, Spree.t(:alt_text) %>
      <%= f.text_area :alt, rows: 4, class: 'form-control' %>
    </div>
  </div>
</div>
