<!-- Contact Section -->
<%= javascript_include_tag 'contact' %>

<section class="contact">
  <div class="container">
    <div class="row">
      <div id="inquiries-card" class="col-md-6 text-center">
        <h1>inquiries</h1>
        <br/><div id="success" class="col-md-6 col-lg-offset-3"><%= render partial: "layouts/flash_messages" %></div>
        
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
          <%= form_for @message, id: "contact-form", url: main_app.contact_path(@message) do |f| %>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :name, "Name" %>
                <%= f.text_field :name, placeholder: "Name*", id: "name", class: "form-control", data: { required: true, 'validation-required-message': "Please enter a name." } %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :email, "Email Address" %>
                <%= f.email_field :email, placeholder: "Email Address*", id: "name", class: "form-control", data: { required: true, 'validation-required-message': "Please enter an email address." } %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :phone, "Phone Number" %>
                <%= f.phone_field :phone, placeholder: "Phone Number", id: "phone", class: "form-control" %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :content, "Message" %>
                <%= f.text_area :content, placeholder: "Message*", id: "content", class: "form-control", rows: 5, data: { required: true, 'validation-required-message': "You haven't typed your message." } %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row submit-group">
              <div class="form-group col-xs-12">
                <%= f.submit "send", class: "btn-send btn btn-outline btn-lg" %>
              </div>
            </div>
          <% end %>
        </div>
        
        
      </div>
      
      <div id="contact-card" class="col-md-6 text-center">
        <h1>contact</h1>
        <br/>
        <div id="success" class="col-md-6 col-lg-offset-3"><%= render partial: "layouts/flash_messages" %></div>
        
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
          <%= form_for @message, id: "contact-form", url: main_app.contact_path(@message) do |f| %>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :name, "Name" %>
                <%= f.text_field :name, placeholder: "Name*", id: "name", class: "form-control", data: { required: true, 'validation-required-message': "Please enter a name." } %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :email, "Email Address" %>
                <%= f.email_field :email, placeholder: "Email Address*", id: "name", class: "form-control", data: { required: true, 'validation-required-message': "Please enter an email address." } %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :phone, "Phone Number" %>
                <%= f.phone_field :phone, placeholder: "Phone Number", id: "phone", class: "form-control" %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :content, "Message" %>
                <%= f.text_area :content, placeholder: "Message*", id: "content", class: "form-control", rows: 5, data: { required: true, 'validation-required-message': "You haven't typed your message." } %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row submit-group">
              <div class="form-group col-xs-12">
                <%= f.submit "send", class: "btn-send btn btn-outline btn-lg" %>
              </div>
            </div>
          <% end %>
        </div>
        
        
      </div>
    </div>
  </div>
</section>