<!-- Navigation -->
<nav class="navbar navbar-default <%= navbar_behavior %> <%= navbar_page %>" role="banner">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="dl-nav-header" class="navbar-header page-scroll">
      <div class="col-xs-3 navbar-menu">
        <button type="button" class="collapsed dl-trigger navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="text-center col-md-3 col-sm-3 col-xs-6">
        <figure id="logo" class="logo"> <%= logo %> </figure>
      </div>
        <!-- Container for cart, stays outside of toggle -->
      <div id="xs-cart" class="col-xs-3 navbar-cart">
        <ul class="nav navbar-nav navbar-right" dat a-hook="impostor-ul">
          <li id="xs-link-to-cart" class="xs" data-hook><%#= link_to_cart %></li>
        </ul>
      </div>
      <!-- /.navbar-cart -->
    </div>
    <!-- /.navbar-header -->
		<div id="dl-menu" class="dl-menuwrapper">
      <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
			<ul id="collapsing-menu" class="collapsed dl-menu nav navbar-collapse navbar-right">
        <% @taxonomies.each_with_index do |taxonomy, tab_index| %>
          <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
            <li class="dl-nav-item submenu-parent taxonomy-root" role="tab" aria-label="<%= taxonomy.name %>">
              <%= link_to Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name), anchor: taxonomy.name, tab_index: tab_index %>
							<ul class="dl-submenu">
								<%= taxons_accordion(taxonomy.root, @taxon, max_level) %>
							</ul>
            </li>
          <% end %>
        <% end %>
        <li class="spacer" role="menuitem"></li>
        <%= relevant_navigation_options %>
        <!-- <li class="item padded taxonomy-root dl-nav-item" role="menuitem"> Location </li> -->
        <li class="spacer" role="menuitem"></li>
          <% if spree_current_user %>
            <li id="account-settings" class="item secondary" role="menuitem">
              <%= link_to Spree.t(:my_account), spree.account_path %>
            </li>
            <li id="link-to-login" class="item secondary" role="menuitem">
              <%= link_to Spree.t(:logout), spree.logout_path %>
            </li>
          <% else %>
            <li id="link-to-login" class="item secondary" role="menuitem">
              <%= link_to Spree.t(:login), spree.login_path %>
            </li>
          <% end %>
        
        <li id="link-to-cart" class="page-scroll" data-hook><%#= link_to_cart %></li>
			</ul>
		</div><!-- /dl-menuwrapper -->
    
  </div>
  <!-- /.container-fluid -->
</nav>

<script>
	$(function() {
		$('#dl-nav-header').dlmenu({
			animationClasses : { classin : 'dl-animate-in-5', classout : 'dl-animate-out-5' }
		});
	});
</script>