<!-- Navigation -->
<nav class="navbar navbar-default <%= navbar_behavior %> <%= navbar_page %>" role="banner">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="dl-nav-header" class="navbar-header page-scroll" data-target="page-top">
      <div id="toggle-nav-button-wrapper" class="col-xs-3 text-center">
        <button type="button" class="collapsed dl-trigger navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="col-sm-3 col-xs-6 logo-wrapper">
        <figure id="logo" class="logo"> <%= logo %> </figure>
      </div>
        <!-- Container for cart, stays outside of toggle -->
      <div id="nav-menu" class="col-sm-9 col-xs-3 navbar-cart">
        <ul class="nav navbar-right" dat a-hook="impostor-ul">
          <li id="xs-link-to-cart" class="xs" data-hook><%#= link_to_cart %></li>
        </ul>
      </div>
      <!-- /.navbar-cart -->
    </div>
    <!-- /.navbar-header -->
    <div id="dl-menu" class="dl-menuwrapper">
      <ul id="collapsing-menu" class="collapsed dl-menu nav navbar-collapse">
        <li class="page-scroll pre-launch dl-nav-item"><%= link_to 'Our Story', main_app.about_path %></li>
        <li class="spacer" role="menuitem"></li>
        <li class="dl-nav-item"><%= link_to 'Collection', spree.products_path %></li>
        <li class="spacer" role="menuitem"></li>
        <li class="page-scroll pre-launch dl-nav-item"><%= link_to 'Contact', main_app.root_path(anchor: 'contact') %></li>
        <li class="disabled dl-nav-item item padded" style="color:#555; font-weight:normal;">Wholesale</li>
        <!-- <li class="dl-nav-item"><%#= link_to 'Wholesale','#' %></li> -->
        <%#= render partial: "layouts/shared/taxonomy_links", locals: { max_level: Spree::Config[:max_level_in_taxons_menu] || 1 } %>
        <% if spree_current_user %>
          <li id="account-settings" class="dl-nav-item" role="menuitem">
            <%= link_to Spree.t(:my_account), spree.account_path %>
          </li>
          <li id="link-to-login" class="dl-nav-item" role="menuitem">
            <%= link_to Spree.t(:logout), spree.logout_path %>
          </li>
        <% else %>
          <li id="link-to-login" class="dl-nav-item" role="menuitem">
            <%= link_to Spree.t(:login), spree.login_path %>
          </li>
        <% end %>
        <!-- <li id="link-to-cart" class="page-scroll" data-hook><%#= link_to_cart %></li> -->
			</ul>
		</div><!-- /dl-menuwrapper -->
    
  </div>
  <!-- /.container-fluid -->
</nav>

<script>
	$(function() {
    $( '.js-toggle-left-slidebar' ).on( 'click', function ( event ) {
      event.stopPropagation();
      controller.toggle( 'slidebar-1' );
    } );
  });
</script>