<div off-canvas="mv-menu left shift" class="mv-menu-wrapper text-center">
  <ul id="collapsing-menu" class="collapsed dl-menu nav">
    <li class="spacer" role="menuitem">
      <div class="spacer-wrap text-center">
        <%= image_tag "feathers/original.png", class: 'logo-slidebar' %>
      </div>
    </li>
    <li class="page-scroll dl-nav-item"><%= link_to 'Our Story', main_app.about_path %></li>
    <li class="dl-nav-item"><%= link_to 'Collection', spree.products_path %></li>
    <li class="page-scroll dl-nav-item"><%= link_to 'Contact', main_app.root_path(anchor: 'contact') %></li>
    <li class="dl-nav-item"><%= link_to 'Wholesale', main_app.contact_path(subject: 'Wholesale Inquiries') %></li>
    <%#= render partial: "layouts/shared/taxonomy_links", locals: { max_level: Spree::Config[:max_level_in_taxons_menu] || 1 } %>
    <% if spree_current_user %>
      <li id="account-settings" class="mv-nav-item" role="menuitem">
        <%= link_to Spree.t(:my_account), spree.account_path %>
      </li>
      <li id="link-to-login" class="mv-nav-item" role="menuitem">
        <%= link_to Spree.t(:logout), spree.logout_path %>
      </li>
    <% else %>
      <li id="link-to-login" class="mv-nav-item" role="menuitem">
        <%= link_to Spree.t(:login), spree.login_path %>
      </li>
    <% end %>
  </ul>
</div><!-- /mv-menu-wrapper -->

<script>
	$(function() {
    var controller = new slidebars();
    controller.init();
    $( '.toggle-mv-menu' ).on( 'click', function (event) {
      event.stopPropagation();
      controller.toggle( 'mv-menu' );
    } );
  });
</script>
