<!-- Header (Front Page) -->
<header id="intro-splash">
  <div class="container">
    <div class="row herro slick-main" data-hook="slideshow">
      <div class="image lazyloaded" style="background-image:url(assets/slideshow-2.jpg);">
        <picture style="display:none;">
          <source srcset="assets/slideshow-2.jpg" type="image/jpeg">
          <%= image_tag nil, class: 'lazyloaded slick' %>
        </picture>
        <div>
          <div class="brand-logo"></div>
        </div>
      </div>
      <div class="image lazyloaded" style="background-image:url(assets/slideshow-1.jpg)">
        <picture style="display:none;">
          <source srcset="assets/slideshow-1.jpg" type="image/jpeg">
          <%= image_tag nil, class: 'lazyloaded slick' %>
        </picture>
      </div>
      <div class="image lazyloaded" style="background-image:url(assets/slideshow-3.jpg)">
        <picture style="display:none;">
          <source srcset="assets/slideshow-3.jpg" type="image/jpeg">
          <%= image_tag nil, class: 'lazyloaded slick' %>
        </picture>
      </div>
      <div class="image lazyloaded" style="background-image:url(assets/slideshow-4.jpg);">
        <picture style="display:none;">
          <source srcset="assets/slideshow-4.jpg" type="image/jpeg">
          <%= image_tag nil, class: 'lazyloaded slick' %>
        </picture>
      </div>
      <div class="image lazyloaded" style="background-image:url(assets/slideshow-5.jpg);">
        <picture style="display:none;">
          <source srcset="assets/slideshow-5.jpg" type="image/jpeg">
          <%= image_tag nil, class: 'lazyloaded slick' %>
        </picture>
      </div>
    </div>
  </div>
</header>
