<%= render partial: 'spree/shared/google_analytics.js' %>
<%= render partial: 'spree/shared/header' %>


<!-- Header (Front Page) -->
<header id="intro-splash">
  <div class="container">
    <div class="row" data-hook>
      <%= breadcrumbs(@taxon) %>
      
        <div class="col-lg-12" data-hook>
          <div class="intro-text">
            <span class="name">Coming Soon</span>
            <hr class="star-light">
            <span class="skills">Shop Boldly For Your Style</span>
          </div>
        </div>
    </div>
  </div>
</header>

<%= render partial: 'welcome/about' %>
<!-- Callout -->
<aside class="callout">
  <div class="text-vertical-center">
  </div>
</aside>

<%= render partial: 'welcome/spotlight' %>
<%= render partial: 'welcome/contact_us' %>


<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="address footer-col col-md-4">
                        <h3>Location</h3>
                        <p>47650 Kato Rd.<br>Fremont, CA 95483</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Follow Porthos</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Partners</h3>
                        <p><a href="#">Wholesale</a></p>
                        <p><a href="#">Business & Office Solutions</a></p>
                        <p><a href="#">Press Resource / Download Area</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 copyright">
                        Copyright &copy; Porthos Home <%= Time.now.year %>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>