<%= currently_at "Home" %>

<!-- Header (Front Page) -->
<header id="intro-splash" class="section" data-anchor="hero">
  <%= render partial: 'storefront/herro' %>
</header>

<!-- Collections Preview Section -->
<section class="collection-preview fp-auto-height section" data-anchor="collection">
  <%= render partial: "storefront/collection_preview" %>
</section>

<!-- Catalog Section -->
<section class="catalog fp-auto-height section" data-anchor="catalog">
  <div class="container">
    <div class="row">
      <div class="catalog-outer col-lg-12">
        <div class="open-catalog col-md-7">
          <%= image_tag "catalog.png" %>
        </div>
        <div class="col-md-5">
          <h2>Porthos</h2>
          <div class="catalog-slogan">
            <p>Envision products curated and culled regularly, demanding nothing but the sharpest designs, at the market's sharpest pricing.</p>
            <p>With an eye for modern styles, combined with an appreciation for intricacy and workmanship. </p>
            <p>Envision, Porthos Home. </p>
            <div class="dl-catalog submit-group">
              <%= link_to_catalog %>
              <%= link_to "Browse Catalog Online".upcase,'#', class: "btn btn-lg btn-outline" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="featured fp-auto-height section" data-anchor="press">
  <%= render partial: 'storefront/press' %>
</section>
<!-- Footer -->
<footer class="contact section" data-anchor="contact">
  <%= render partial: 'layouts/shared/footer' %>
</footer>

