<%= render partial: 'storefront/herro' %>

<!-- About Us Section -->
<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="catalog-outer col-lg-12">
        <div class="open-catalog col-md-7">
          <%= image_tag "catalog.png" %>
        </div>
        <div class="col-md-5">
          <h2>Porthos</h2>
          <div class="abouter">
            <p>Envision products curated and culled regularly, demanding nothing but the sharpest designs, at the market's sharpest pricing.</p>
            <p>With an eye for modern styles, combined with an appreciation for intricacy and workmanship. </p>
            <p>Envision, Porthos Home. </p>
            <div class="dl-catalog submit-group">
              <%= link_to_catalog %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>


<section class="collection-preview">
  <div class="container">
    <div class="row">
      <div class="title col-xs-6">
        <h1 id="collection-preview">COLLECTIONS</h1>
      </div>
      <div class="col-xs-6 see-more text-right">
        <%= link_to "see more".upcase, main_app.download_catalog_url, class: "btn btn-lg btn-outline" %>
      </div>
    </div>
    <div class="row">
      <div class="gallery col-xs-12">
        <% preview_items.each do |item| %>
          <li><%= preview_reference(item) %></li>
        <% end %>
      </div>
    </div>
  </div>
</section>


<section class="featured">
  <%= render partial: 'storefront/press' %>
</section>


<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '.navbar-fixed-top' })
</script>
