<!-- Header (Front Page) -->
<header id="intro-splash">
  <%= render partial: 'storefront/herro' %>
</header>
  
<!-- Collections Preview Section -->
<section class="collection-preview">
  <%= render partial: "storefront/collection_preview" %>
</section>

<!-- Catalog Section -->
<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="catalog-outer col-lg-12">
        <div class="open-catalog col-md-7">
          <%= image_tag "catalog.png" %>
        </div>
        <div class="col-md-5">
          <h2>Porthos</h2>
          <div class="abouter">
            <p>Envision products curated and culled regularly, demanding nothing but the sharpest designs, at the market's sharpest pricing.</p>
            <p>With an eye for modern styles, combined with an appreciation for intricacy and workmanship. </p>
            <p>Envision, Porthos Home. </p>
            <div class="dl-catalog submit-group">
              <%= link_to_catalog %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="featured">
  <%= render partial: 'storefront/press' %>
</section>
<!-- Footer -->
<footer class="contact">
  <%= render partial: 'layouts/shared/footer' %>
</footer>


<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '.navbar-fixed-top' })
</script>
