<% currently_at "Home" %>

<!-- Header (Front Page) -->
<header id="intro-splash" class="section" data-anchor="fpjs-hero">
  <%= render partial: 'storefront/herro' %>
</header>
<!-- Collections Preview Section -->
<section class="collection-preview section" data-anchor="fpjs-collection">
  <%= render partial: "storefront/collection_preview" %>
</section>
<!-- Catalog Section -->
<section class="catalog section" data-anchor="fpjs-catalog">
  <%= render partial: 'storefront/catalog' %>
</section>
<!-- Featured / Press -->
<section class="featured fp-auto-height section" data-anchor="fpjs-press">
  <%= render partial: 'storefront/press' %>
</section>
<!-- Inquiries / Footer -->
<section class="contact section" data-anchor="fpjs-contact">
  <%= render partial: 'layouts/shared/footer' %>
</section>
<!-- Footer -->
<footer class="below fp-auto-height section text-center" data-anchor="fpjs-footer">
  <%= render partial: "layouts/shared/footer_below" %>
</footer>

