<p id="notice"><%= notice %></p>

<h1>Listing Catalog Pages</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalog_pages.each do |catalog_page| %>
      <tr>
        <td><%= catalog_page.image %></td>
        <td><%= catalog_page.position %></td>
        <td><%= link_to 'Show', catalog_page %></td>
        <td><%= link_to 'Edit', edit_catalog_page_path(catalog_page) %></td>
        <td><%= link_to 'Destroy', catalog_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalog page', new_catalog_page_path %>
