<section id="spotlight" class="success">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>attention to detail</h2>
          <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 spotlight-item">
        <a href="#spotlightModal1" class="spotlight-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">  </div>
          </div>
          <%= image_tag "sp0.png", class: "img-responsive", alt: 'spotlight-1' %>
        </a>
      </div>
      <div class="col-sm-4 spotlight-item">
        <a href="#spotlightModal2" class="spotlight-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">  </div>
          </div>
          <%= image_tag "sp3.png", class: "img-responsive", alt: 'vanity-cabinet' %>
        </a>
      </div>
      <div class="col-sm-4 spotlight-item">
        <a href="#spotlightModal3" class="spotlight-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">  </div>
          </div>
          <%= image_tag "sp11.png", class: "img-responsive", alt: 'sketch-table' %>
        </a>
      </div>
      <div class="col-sm-4 spotlight-item">
        <a href="#spotlightModal5" class="spotlight-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">  </div>
          </div>
          <%= image_tag "sp4.png", class: "img-responsive", alt: 'office-chair' %>
        </a>
      </div>
      <div class="col-sm-4 spotlight-item">
        <a href="#spotlightModal4" class="spotlight-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">  </div>
          </div>
          <%= image_tag "sp8.png", class: "img-responsive", alt: 'embassy-chair' %>
        </a>
      </div>
      <div class="col-sm-4 spotlight-item">
        <a href="#spotlightModal6" class="spotlight-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">  </div>
          </div>
          <%= image_tag "sp5.png", class: "img-responsive", alt: 'cocktail-table' %>
        </a>
      </div>
    </div>
  </div>
</section>