<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :images } %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @image } %>

<%= form_for [:admin, @product, @image], html: { multipart: true } do |f| %>
  <div data-hook="edit_image" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= @image.attachment_file_name %>
      </h1>
    </div>
    <div class="panel-body">
      <div class="form-group row">
        <div data-hook="thumbnail" class="col-xs-12 image-thumbnail text-center">
          <%= f.label Spree.t(:thumbnail) %>
          <%= link_to image_tag(@image.attachment.url(:small)), @image.attachment.url(:product) %>
        </div>
        <div class="col-xs-12 image-fields">
          <%= render partial: 'form', locals: { f: f } %>
        </div>
      </div>
      <div class="form-actions row" data-hook="buttons">
        <div class="col-xs-12 image-form-actions">
          <%= button Spree.t('actions.update'), 'save' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), spree.admin_product_images_url(@product), id: 'cancel_link', icon: 'delete' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<!-- .col-xs-$  Extra Small  Phones Less than 768px
.col-sm-$  Small Devices  Tablets 768px and Up
.col-md-$  Medium Devices  Desktops 992px and Up
.col-lg-$  Large Devices  Large Desktops 1200px and Up -->