<!DOCTYPE html>
<html>
  <head>
    <title>Porthos</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container user-auth">
    <%= render partial: "layouts/flash_messages" %>
    <%= yield %>
  </body>
</html>
